.cards{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card-intro{
    display: flex;
    padding: 30px;
    padding-top: 150px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(218, 243, 232), rgb(252, 237, 237));
}

.card-intro-text{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}

.card-intro-text h1{
    font-size: 3.5rem;
    width: 80%;
}

.card-intro-text p{
    margin-top: 50px;
    width: 70%;
    font-size: 1.3rem;
    line-height: 1.5;
}

.card-btn{
    margin-top: 30px;
    padding: 25px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    background: #000;
    font-size: 1.2rem;
    width: 60%;
}

.card-intro-img{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.card-intro-img img{
    max-width: 100%;
}

/* responsive */

@media screen and (max-width: 991px){
    .cards{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .card-intro{
        flex-direction: column;
        padding: 20px;
        padding-top: 30px;
    }
    
    .card-intro-text{
        margin-top: 30px;
        width: 100%;
        margin-left: 0px;
    }
    
    .card-intro-text h1{
        font-size: 2rem;
        width: 100%;
    }
    
    .card-intro-text p{
        width: 100%;
        font-size: 1rem;
    }
    
    .card-btn{
        width: 60%;
    }
    
    .card-intro-img{
        display: flex;
        width: 100%;
        margin-top: 30px;
    }
    
    .card-intro-img img{
        max-width: 100%;
    }
}

/* end card intro */