.account{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 150px 30px;
    width: 70%;
    margin: auto;
}

#form h1{
    font-size: 3rem;
}

#form p{
    margin-top: 30px;
    color: blue;
    font-size: 1.5rem;
}

.form-fields{
    width: 100%;
}

.form-group{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label{
    font-size: 1.2rem;
    font-weight: 500;
}

.form-group input{
    width: 100%;
    display: flex;
    padding: 25px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 10px 10px 10px 10px rgb(238, 229, 229);
    margin-top: 1px;
}

.form-group input::placeholder{
    font-size: 1.3rem;
    font-weight: 500;
}

textarea{
    padding: 20px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px 10px 10px rgb(238, 229, 229);
}

textarea::placeholder{
    font-size: 1.3rem;
    font-weight: 500;
}

#form button{
    margin-top: 50px;
    padding: 25px;
    outline: none;
    width: 40%;
    border: none;
    border-radius: 7px;
    background: #29c490;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}