.plans {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.plans-card {
	padding: 100px 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: rgb(236, 252, 250);
}

.plans-head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.plans-head h1 {
	font-size: 3rem;
	font-weight: 700;
}

.plans-head h3 {
	font-size: 1.5rem;
	color: blue;
	margin-top: 30px;
}

.card-container {
	display: grid;
	margin-top: 50px;
	grid-template-columns: repeat(3, 2fr);
	width: 100%;
	grid-gap: 20px;
}

.price-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #177f9e;
	padding: 50px;
	border: none;
	color: #fff;
	border-radius: 10px;
}

.price-card h3 {
	font-size: 2rem;
}

.price-card h1 {
	font-size: 5rem;
}

.price-card h1 sub {
	font-size: 1.5rem;
}

.price-list {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.price-list p {
	margin-top: 20px;
	font-size: 1.2rem;
	font-weight: 500;
}

.price-card button {
	margin-top: 30px;
	padding: 30px;
	width: 80%;
	cursor: pointer;
	font-weight: 700;
	color: #000;
	background: #fff;
	outline: none;
	border: none;
	transition: 0.5s ease-out;
	border-radius: 7px;
}

.price-card button:hover {
	background: #000;
	color: #fff;
}

#standard {
	background: blue;
}

#business {
	background: #fff;
	color: #000;
}

#business button {
	background: #000;
	color: #fff;
}

#business button:hover {
	background: blue;
}

#platinum {
	background: #35cf8f;
}

/* responsiveness */

@media screen and (max-width: 991px) {
	.plans {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.plans-card {
		padding-top: 100px;
	}

	.plans-head {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.plans-head h1 {
		font-size: 1.8rem;
		text-align: center;
		font-weight: 700;
	}

	.plans-head h3 {
		font-size: 1rem;
		color: blue;
		margin-top: 30px;
	}

	.card-container {
		grid-template-columns: repeat(1, 2fr);
	}

	.price-card h3 {
		font-size: 1.5rem;
	}

	.price-card h1 {
		font-size: 3rem;
	}

	.price-card h1 sub {
		font-size: 1.2rem;
	}

	.price-list {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	.price-list p {
		margin-top: 20px;
		font-size: 1rem;
		font-weight: 500;
	}

	.price-card button {
		padding: 25px;
		width: 90%;
	}

	#standard {
		background: blue;
	}

	#business {
		background: #fff;
		color: #000;
	}

	#business button {
		background: #000;
		color: #fff;
	}

	#platinum {
		background: #35cf8f;
	}
}
