.about {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: -1;
}

.about-intro {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 30px;
	padding-top: 150px;
	background: rgb(247, 230, 230);
}

.intro-text {
	display: flex;
	width: 50%;
	flex-direction: column;
	margin-top: 100px;
	margin-left: 100px;
}

.intro-text h1 {
	font-size: 3rem;
	width: 70%;
}

.intro-text p {
	margin-top: 30px;
	font-size: 1.2rem;
	line-height: 1.5;
	opacity: 0.7;
}

.intro-text .button {
	margin-top: 30px;
	width: 70%;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	color: #fff;
	background: rgb(64, 209, 153);
	padding: 25px;
}

.intro-text .button:hover {
	background: blue;
}

.intro-image {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.intro-image img {
	justify-content: center;
	align-items: center;
	display: flex;
	max-width: 100%;
}

.button {
	cursor: pointer;
}

.button:hover {
	background: blue;
}

/* responsive */

@media screen and (max-width: 991px) {
	.about {
		display: flex;
		flex-direction: column;
		width: 90%;
		justify-content: center;
		margin-left: 15px;
		padding-top: 0px;
	}
	.about-intro {
		display: flex;
		width: 100%;
		padding-top: 100px;
		flex-direction: column;
		justify-content: space-between;
		background: rgb(247, 230, 230);
	}
	.intro-text {
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-top: 0px;
		margin-left: 0px;
		padding: 20px;
	}
	.intro-text h1 {
		font-size: 2rem;
		width: 100%;
	}
	.intro-text p {
		margin-top: 30px;
		font-size: 1rem;
		line-height: 1.5;
		opacity: 0.7;
	}
	.intro-text button {
		margin-top: 30px;
		width: 80%;
		font-weight: 700;
		outline: none;
		cursor: pointer;
		border: none;
		border-radius: 7px;
		color: #fff;
		background: rgb(64, 209, 153);
		padding: 20px;
	}
	.intro-image {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.intro-image img {
		justify-content: center;
		align-items: center;
		display: flex;
		max-width: 100%;
	}
}

/* end of intro */

/* creatores */

.creators {
	display: flex;
	padding: 30px;
	padding-top: 150px;
	width: 100%;
	flex-direction: column;
}

.head {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.head-title {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.head-title h3 {
	color: blue;
	font-size: 1.5rem;
	font-weight: 500;
}

.head-title h1 {
	font-size: 3rem;
	margin-top: 20px;
	width: 60%;
}

.head-description {
	margin-top: 70px;
	width: 50%;
	display: flex;
}

.head-description p {
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: 500;
}

.team {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	margin-top: 50px;
	grid-gap: 20px;
	width: 100%;
}

.member {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.member img {
	display: flex;
	max-width: 100%;
}

.member h3 {
	margin-top: 20px;
}

/* responsive */

@media screen and (max-width: 991px) {
	.creators {
		display: flex;
		padding: 30px;
		padding-top: 50px;
		width: 100%;
		flex-direction: column;
	}
	.head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-direction: column;
	}
	.head-title {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.head-title h3 {
		color: blue;
		font-size: 1.2rem;
		font-weight: 500;
	}
	.head-title h1 {
		font-size: 1.5rem;
		margin-top: 20px;
		width: 100%;
	}
	.head-description {
		margin-top: 20px;
		width: 100%;
		display: flex;
	}
	.head-description p {
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 500;
	}
	.team {
		display: grid;
		grid-template-columns: repeat(1, 2fr);
		margin-top: 50px;
		grid-gap: 20px;
		width: 100%;
		justify-content: center;
	}
	.member {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.member img {
		display: flex;
		max-width: 100%;
	}
}

/* partners section */

.partners {
	display: flex;
	padding: 30px;
	padding-top: 200px;
	width: 100%;
	flex-direction: column;
}

.partners h3 {
	color: blue;
	font-weight: 500;
	font-size: 2rem;
}

.partners-details {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	width: 100%;
	grid-gap: 30px;
}

.partner {
	display: flex;
	margin-top: 100px;
	justify-content: center;
}

.partner img {
	cursor: pointer;
}

/* responsive */

@media screen and (max-width: 991px) {
	.partners {
		display: flex;
		padding: 30px;
		padding-top: 200px;
		width: 100%;
		flex-direction: column;
	}
	.partners h3 {
		color: blue;
		font-weight: 500;
		font-size: 2rem;
	}
	.partners-details {
		padding-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		grid-gap: 5px;
	}
	.partner {
		display: flex;
		margin-top: 20px;
		justify-content: center;
	}
	.partner img {
		cursor: pointer;
		max-width: 100%;
	}
}
