/* footer styles */

footer{
    display: flex;
    background: rgb(210, 231, 214);
    flex-direction: column;
    width: 100%;
    padding: 100px 30px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu h1{
    display: flex;
    font-size: 4rem;
    width: 30%;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-nav h3{
    font-size: 2rem;
}

.footer-nav a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.footer-nav a.active,
.footer-nav a:hover{
    color: blue;
}

.connect{
    display: flex;
}

.connect p{
    font-size: 1.3rem;
    font-weight: 700;
}

.connect p a{
    margin-left: 10px;
    text-decoration: none;
}

.footer-icons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons p{
    width: 10%;
    font-weight: 700;
}

.icon-fonts{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.icon-fonts i{
    font-size: 2rem;
    cursor: pointer;
}

.footer-images{
    width: 60%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.copyright{
    margin-top: 20px;
}

/* responsiveness */

@media screen and (max-width: 991px){
    footer{
        display: flex;
        background: rgb(210, 231, 214);
        flex-direction: column;
        width: 100%;
        padding: 50px 30px;
    }
    
    .footer-menu{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .footer-menu h1{
        display: flex;
        font-size: 1.5rem;
        width: 100%;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    
    .footer-nav h3{
        font-size: 1.5rem;
    }
    
    .footer-nav a{
        margin-top: 20px;
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        font-weight: 500;
    }
    
    .footer-nav a.active,
    .footer-nav a:hover{
        color: blue;
    }
    
    .connect{
        display: flex;
        margin-top: 20px;
    }
    
    .connect p{
        font-size: 1.3rem;
        font-weight: 700;
    }
    
    .connect p a{
        margin-left: 10px;
        text-decoration: none;
    }
    
    .footer-icons{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .footer-icons p{
        width: 100%;
        font-weight: 500;
    }
    
    .icon-fonts{
        width: 20%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .icon-fonts i{
        font-size: 1rem;
        cursor: pointer;
    }
    
    .footer-images{
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        cursor: pointer;
    }

    .footer-images img{
        max-width: 30%;
    }
    
    .copyright{
        margin-top: 20px;
        width: 100%;
        font-size: 0.8rem;
    }
}